## Python Dictionary assignment

### 1.write a python program to create an empty dictionary

In [55]:
c={}
#type(c)

In [56]:
my_dictionary=dict()
#print(type(my_dictionary))

### 2. write a python program to add key value pair to the dictionary

In [57]:
c={'DAY1':'PYTHON_LIST','DAY2':'PYTHON_STRINGS'} 
c['DAY3']='PYTHON_TUPLE'
print(c)

{'DAY1': 'PYTHON_LIST', 'DAY2': 'PYTHON_STRINGS', 'DAY3': 'PYTHON_TUPLE'}

In [58]:
c.update({'DAY4':'PYTHON_SET'})   # to update 1 value 
c

{'DAY1': 'PYTHON_LIST',
 'DAY2': 'PYTHON_STRINGS',
 'DAY3': 'PYTHON_TUPLE',
 'DAY4': 'PYTHON_SET'}

In [59]:
for i,j in c.items():             #updating from user
    a=str(input('Enter the key value:'))
    b=str(input('Enter the corresponding value'))
    c.update({a:b})
    break;
print(c)

Enter the key value:DAY5
Enter the corresponding valuePYTHON_DICTIONARY
{'DAY1': 'PYTHON_LIST', 'DAY2': 'PYTHON_STRINGS', 'DAY3': 'PYTHON_TUPLE', 'DAY4': 'PYTHON_SET', 'DAY5': 'PYTHON_DICTIONARY'}

###  3.write a python program to remove a key value pair to the dictionary

In [60]:
# note removing key value pair is done with the help of key only

del c['DAY4']
c

{'DAY1': 'PYTHON_LIST',
 'DAY2': 'PYTHON_STRINGS',
 'DAY3': 'PYTHON_TUPLE',
 'DAY5': 'PYTHON_DICTIONARY'}

In [61]:
n=str(input('To remove the pair enter the key value:'))
for i in c.keys():
    if i==n:
        del c[i]
    break;
print(c)

To remove the pair enter the key value:DAY3
{'DAY1': 'PYTHON_LIST', 'DAY2': 'PYTHON_STRINGS', 'DAY3': 'PYTHON_TUPLE', 'DAY5': 'PYTHON_DICTIONARY'}

### 4.Write a Python program to check if a key exists in a dictionary.

In [62]:
c

{'DAY1': 'PYTHON_LIST',
 'DAY2': 'PYTHON_STRINGS',
 'DAY3': 'PYTHON_TUPLE',
 'DAY5': 'PYTHON_DICTIONARY'}

In [64]:
t=str(input('enter your key:'))
for i in c.keys():
    if i == t:
        print("The key you entered Exists")
    else:
        print('The Key you entered dosent exist')
    break;

enter your key:DAY3
The Key you entered dosent exist

In [141]:
t=str(input('enter your key:'))
s=['True' if t in c.keys() else 'false' ]
print (s) # doubt

enter your key:DAY5
['True']

### 5. Write a Python program to iterate over the keys and values of a dictionary.

In [ ]:
#method 1
for i,j in c.items():
    print(c.keys(),c.values())
    break;

In [52]:
#method 2

for i in c.keys():
     print(i)
for j in c.values():
     print(j)
for i,j in c.items():
    print(i,j)

### 6.write a python program to find the length of a dictionary

In [65]:
# method 1
len(c)

4

In [67]:
#method 2
for i in c:
    print(len(c))
    break;

4

### 7.Write a python program to merge two dictonaries

In [76]:
#dictionary 1
c

{'DAY1': 'PYTHON_LIST',
 'DAY2': 'PYTHON_STRINGS',
 'DAY3': 'PYTHON_TUPLE',
 'DAY5': 'PYTHON_DICTIONARY'}

In [77]:
#dictionary 2
d={}
d['DAY4']='PYTHON_SETS'
d['DAY5']='LIST_COMPREHENSION'
d['dAY6']='DICTIONARY_COMPREHENSION'
print(d)

{'DAY4': 'PYTHON_SETS', 'DAY5': 'LIST_COMPREHENSION', 'dAY6': 'DICTIONARY_COMPREHENSION'}

In [88]:
#method 1
e=c|d         # e is merged dictionary
print(e)

{'DAY1': 'PYTHON_LIST', 'DAY2': 'PYTHON_STRINGS', 'DAY3': 'PYTHON_TUPLE', 'DAY5': 'LIST_COMPREHENSION', 'DAY4': 'PYTHON_SETS', 'dAY6': 'DICTIONARY_COMPREHENSION'}

In [89]:
#method 2 

f={**c,**d}
print(f)

{'DAY1': 'PYTHON_LIST', 'DAY2': 'PYTHON_STRINGS', 'DAY3': 'PYTHON_TUPLE', 'DAY5': 'LIST_COMPREHENSION', 'DAY4': 'PYTHON_SETS', 'dAY6': 'DICTIONARY_COMPREHENSION'}

In [90]:
print(c)

{'DAY1': 'PYTHON_LIST', 'DAY2': 'PYTHON_STRINGS', 'DAY3': 'PYTHON_TUPLE', 'DAY5': 'PYTHON_DICTIONARY'}

In [91]:
print(d)

{'DAY4': 'PYTHON_SETS', 'DAY5': 'LIST_COMPREHENSION', 'dAY6': 'DICTIONARY_COMPREHENSION'}

In [92]:
#method 3
c.update(d)
print(c)

{'DAY1': 'PYTHON_LIST', 'DAY2': 'PYTHON_STRINGS', 'DAY3': 'PYTHON_TUPLE', 'DAY5': 'LIST_COMPREHENSION', 'DAY4': 'PYTHON_SETS', 'dAY6': 'DICTIONARY_COMPREHENSION'}

### 8.write a python program to find maximum and minimum values in a dictionary

In [124]:
x={'a':1, 'b': 2, 'c': 2, 'd': 3}
def max_min(d):
    values = list(d.values())
    return (max(values), min(values))
print(max_min(x))

(3, 1)

### 9.Write a python program to count the occurances of each value in dictionary

In [111]:
e
e['DAY7']= 'PYTHON_SETS'
e

{'DAY1': 'PYTHON_LIST',
 'DAY2': 'PYTHON_STRINGS',
 'DAY3': 'PYTHON_TUPLE',
 'DAY5': 'LIST_COMPREHENSION',
 'DAY4': 'PYTHON_SETS',
 'dAY6': 'DICTIONARY_COMPREHENSION',
 'DAY7': 'PYTHON_SETS'}

In [112]:
#method1
def occurances(c):
    occur = {}
    for i in c.values():
        if i in occur:
            occur[i] +=1
        else:
            occur[i] =1
    return occur
    
print(occurances(e))

{'PYTHON_LIST': 1, 'PYTHON_STRINGS': 1, 'PYTHON_TUPLE': 1, 'LIST_COMPREHENSION': 1, 'PYTHON_SETS': 2, 'DICTIONARY_COMPREHENSION': 1}

In [107]:
#method 2
from collections import Counter 
def occurances(d):
    return dict(Counter(d.values()))
print(occurances(e))

{'PYTHON_LIST': 1, 'PYTHON_STRINGS': 1, 'PYTHON_TUPLE': 1, 'LIST_COMPREHENSION': 1, 'PYTHON_SETS': 1, 'DICTIONARY_COMPREHENSION': 1}

### 10. Write a Python program to sort a dictionary by its values

In [125]:
e

{'DAY1': 'PYTHON_LIST',
 'DAY2': 'PYTHON_STRINGS',
 'DAY3': 'PYTHON_TUPLE',
 'DAY5': 'LIST_COMPREHENSION',
 'DAY4': 'PYTHON_SETS',
 'dAY6': 'DICTIONARY_COMPREHENSION',
 'DAY7': 'PYTHON_SETS'}

In [128]:
def sorting(d):
    values=list(d.values())
    return sorted(values)
sorting(e)

['DICTIONARY_COMPREHENSION',
 'LIST_COMPREHENSION',
 'PYTHON_LIST',
 'PYTHON_SETS',
 'PYTHON_SETS',
 'PYTHON_STRINGS',
 'PYTHON_TUPLE']

In [145]:
Sorting=sorted(e.values())   #sorted converted to list
print(Sorting)
type(Sorting)

['DICTIONARY_COMPREHENSION', 'LIST_COMPREHENSION', 'PYTHON_LIST', 'PYTHON_SETS', 'PYTHON_SETS', 'PYTHON_STRINGS', 'PYTHON_TUPLE']

list

# Python tuple assignment

### 1. Write a Python program to create an empty tuple.

In [148]:
#method 1

tuple_=()
print(tuple_)

()

### 2.Write a Python program to access the elements of a tuple.

In [162]:
mytuple= (10 , 20 , 30)
print(mytuple[0])

10

In [161]:
for i in mytuple:
    print(i)

10
20
30

### 3.Write a Python program to concatenate two tuples

In [163]:
mytuple1= (10 , 20 , 30)
mytuple2=(30,40,50,60)
print(mytuple1+mytuple2)

(10, 20, 30, 30, 40, 50, 60)

In [164]:
def concatenate_tuples(c,d):
    return tuple(c)+tuple(d)

In [166]:
concatenate_tuples(mytuple1,mytuple2)

(10, 20, 30, 30, 40, 50, 60)

### 4.Write a Python program to find the length of a tuple.

In [167]:
len(mytuple1)

3

In [168]:
def tuple_len(d):
    return len(d)
print(tuple_len(mytuple2))

4

### 5. Write a Python program to convert a tuple into a list.

In [170]:
tupleto_list=list(mytuple1)
print(tupleto_list)

[10, 20, 30]

In [171]:
def tupletolist(d):
    return list(d)
print(tupletolist(mytuple2))

[30, 40, 50, 60]

### 6. Write a Python program to find the maximum and minimum elements in a tuple

In [176]:
def tuple_max_min(f):
    return max(f),min(f)

In [177]:
print(tuple_max_min(mytuple2))

(60, 30)

 ### 7.Write a Python program to check if an element exists in a tuple.

In [180]:
mytuple1

(10, 20, 30)

In [ ]:
if 10 in mytuple1:
    print('Element exists')
else:
    print('Element does not exist')

### 8. Write a Python program to count the number of occurrences of an element in a tuple.

In [195]:
t = (1, 2, 3, 2, 4, 2)
count = t.count(2)
print(count)

3

### 9.Write a Python program to slice a tuple.

In [196]:
g = (10, 20, 30, 40, 50,[10,20],'Hello')
sliced_g = []
for i in range(1, 4):
    sliced_g.append(g[i])
print(tuple(sliced_g))

(20, 30, 40)

### 10.Write a Python program to unpack a tuple into multiple variables.

In [199]:
unpack = ('unpack 1', 'unpack2', 'adress','destination')
(column1, column2,column3,column4) =unpack
print(column1)
print(column2)
print(column3)
print(column4)

unpack 1
unpack2
adress
destination

# Python set assignment

### 1.Write a Python program to create an empty set.

In [219]:
s=({})

### 2.Write a Python program to check if two sets are equal.

In [221]:
set1 = {1, 2, 3}
set2 = {3, 2, 1,4}

if set1 == set2:
    print('The sets are equal')
else:
    print('The sets are not equal')

The sets are not equal

### 3. Write a Python program to add an element to a set.

In [225]:
set1 = {1, 2, 3}
s=input('enter the element you want to add:')
set1.add(s)
print(set1)

enter the element you want to add:6
{1, 2, 3, '6'}

### 4.Write a Python program to remove an element from a set.

In [230]:
set1 = {1, 2, 3,4,5,6,7,8,9,10}
s=int(input('enter the element you want to remove:'))
set1.remove(s)
print(set1)

enter the element you want to remove:5
{1, 2, 3, 4, 6, 7, 8, 9, 10}

### 5.Write a Python program to find the  union of two sets.

In [231]:
a={1,2,3,4,5,6,7,8,9,10,3,4,5,8,9,11,12}
b={34,6,8,5,4,69,2,340,5,3,6,1,6,2,9}
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 34, 69, 340}

### 6.Write a Python program to find the intersection of two sets.

In [232]:
a={1,2,3,4,5,6,7,8,9,10,3,4,5,8,9,11,12}
b={34,6,8,5,4,69,2,340,5,3,6,1,6,2,9}
a.intersection(b)

{1, 2, 3, 4, 5, 6, 8, 9}

###  7. Write a Python program to find the difference between two sets.

In [236]:
a={1,2,3,4,5,6,7,8,9,10,3,4,5,8,9,11,12}
b={34,6,8,5,4,69,2,340,5,3,6,1,6,2,9}

print(a-b) # prints all elements in a that are not in b
print(a.difference(b))

{10, 11, 12, 7}
{10, 11, 12, 7}

In [2]:
a={1,2,3,4,5,6,7,8,9,10,3,4,5,8,9,11,12}
b={34,6,8,5,4,69,2,340,5,3,6,1,6,2,9}

print(b-a)# prints all elements in b that are not in a
print(b.difference(a))

{34, 340, 69}
{34, 340, 69}

### 8.Write a Python program to check if a set is a subset of another set.

In [3]:
if a.issubset(b):
    print("set1 is a subset of set2")
else:
    print("set1 is not a subset of set2")

set1 is not a subset of set2

### 9.Write a Python program to remove all duplicate elements from a set.

In [14]:
# all emenets in a set are unique 
a={1,2,3,3,2,3,1}
d=set(a) # can just use the set method to remove duplicate  elements
d

{1, 2, 3}

In [16]:
aset={1 ,3,5,7,8,2,3,4,5,7,90,0,8,77,2,3,5,8,90,100}
bset=set(bset)
for i in aset:
    if i not in bset:
        bset.add(i)
print(bset)

{0, 1, 2, 3, 4, 5, 100, 7, 8, 77, 90}

### 10.Write a Python program to find the maximum and minimum elements in a set.

In [134]:
b={34,6,8,5,4,69,2,340,5,3,6,1,6,2,9}
for i in b:
    print('Maximum element is:',max(b), ' ','Minimum element is:',min(b))
    break;

Maximum element is: 340   Minimum element is: 1

# Python String Assignment

### 1.Question 1: Write a Python program to count the number of characters in a string

In [17]:
string=input("enter the string:  ")
count=0
for i in string:
    if i != " ":
        count += 1
print("the number of charectors are:", count)

enter the string:  raksha sree
the number of charectors are: 10

### 2.Write a Python program to reverse a string

In [19]:
string=str(input("enter the string:  "))# reverse string throuch slicing
print(string[::-1])

enter the string:  Raksha SRee
eeRS ahskaR

### 3.Write a Python program to check if a string is a palindrome

In [25]:
n=input("enter the string:")
n=n.lower()
if n[::1]== n[::-1]:
    print('string is palindrome')
else:
    print ('string is not palindrme')

enter the string:racecar
string is palindrome

### 4. Write a Python program to find the most common character in a string

In [28]:
string = str(input("enter the string:  "))
most_common_charactor = ""
most_common_char_count = 0
for char in string:
    count = string.count(char)
    if count > most_common_char_count:
        most_common_charactor = char
        most_common_char_count = count

print("The most common character is:", most_common_charactor)

enter the string:  yale and yatch
The most common character is: a

### 5.  Write a Python program to check if two strings are anagrams.

In [34]:
string1=str(input('Enter string one: '))
string2=str(input('Enter string two: '))
if len(string1) != len(string2):
    print("The strings are not anagrams")
else:
    if all([string1.count(char) == string2.count(char) for char in string1]):
        print("The strings are anagrams")
    else:
        print("The strings are not anagrams")

Enter string one: listen
Enter string two: silent
The strings are anagrams

### 6.Write a Python program to remove all the vowels from a string

In [37]:
def remove_vowels(n):
    vowels='aeiouAEIOU'
    newstring=''
    for i in n:
        if i not in vowels:
            newstring += i
    return newstring

In [38]:
remove_vowels('rakshasree')

'rkshsr'

In [44]:
import re

def remove_vowels(string):
    return re.sub('[aeiouAEIOU]', '', string)

In [45]:
remove_vowels('forsjvidfouaerhe')

'frsjvdfrh'

### 7. Write a Python program to find the longest word in a string

In [55]:
def longestword(n):
    word=n.split()
    longword=('')
    for i in word:
        if len(word)>len(longword):
            longword=word
    return longword

In [56]:
print(longestword('sreeraksha'))

['sreeraksha']

### 8. Write a Python program to capitalize the first letter of each word in a string

In [59]:
string=str(input("enter a sentense:"))
print(string.title())

enter a sentense:hello madam good evening
Hello Madam Good Evening

### 9.Write a Python program to find the frequency of each character in a string.

In [60]:
def count_characters(string):
    char_count = {}
    for char in string:
        if char in char_count:
            char_count[char] += 1
        else:
            char_count[char] = 1
    return char_count

In [63]:
count_characters('hello my name is raksha')

{'h': 1}

In [71]:
def count_charactors(string):
    return {char: string.count(char) for char in string}

In [72]:
count_charactors('this is beautiful')

{'t': 2,
 'h': 1,
 'i': 3,
 's': 2,
 ' ': 2,
 'b': 1,
 'e': 1,
 'a': 1,
 'u': 2,
 'f': 1,
 'l': 1}

### 10.Write a Python program to check if a string is a valid email address

In [74]:
def is_valid_email(email):
    if '@' not in email:
        return False
    parts = email.split('@')
    if len(parts) != 2:
        return False
    if '.' not in parts[1]:
        return False
    return True

In [75]:
is_valid_email('salera.raksha@gmail.com')

True

# Python Lists Assignment

### 1: Write a Python program to count the number of elements in a list

In [92]:
len(list1)

7

In [90]:
list1=[1,2,34,5,6.8,78,'jhsdch']
def count_elements(n):
    return len(list1)

In [91]:
print(count_elements(list1))

7

### 2: Write a Python program to find the maximum and minimum values in a given list.

In [87]:
list1=[1,2,34,5,6.8,78]
for i in list1:
    print(max(list1),min(list1))
    break;

78 1

In [95]:
list1=[1,2,34,5,6.8,78,2,4,6,8,6.8,5]
def minmax(i):
    return max(i),min(i)
minmax(list1)

(78, 1)

### 3: Write a Python program to remove the first occurrence of a specified element from a list.

In [97]:
list1=[1,2,34,5,6.8,78,2,4,6,8,6.8,5]   #doubt
def remove1occurance(n):
    for i in n:
        if n.count(i)>2:
            del n[0]
    return n

In [98]:
print(remove1occurance(list1))

[1, 2, 34, 5, 6.8, 78, 2, 4, 6, 8, 6.8, 5]

In [106]:
list1.pop(2)
print(list1)

[1, 34, 78, 4, 6, 8, 6.8, 5]

In [107]:
sorted(list1)

[1, 4, 5, 6, 6.8, 8, 34, 78]

### 4: Write a Python program to find the average of all the elements in a list.

In [109]:
def avg(n):
    return (sum(n)/len(n))
n=[1, 4, 5, 6, 6.8, 8, 34, 78]
print ('Average is :',avg(n))

Average is : 17.85

### 5: Write a Python program to check if a list is empty or not.

In [110]:
list1=[]

if list1== []:
    print('List is empty')
else:
    print('List is not empty')

List is empty

### 6: Write a Python program to find the  index of a specified element in a list.

In [111]:
lst = [1, 2, 34, 5, 6.8, 78, 2, 4, 6, 8, 6.8, 5]
element= 6.8
for i in range(len(lst)):
    if lst[i] == element:
        print("The index of", element, "in the list is:", i)

The index of 6.8 in the list is: 4
The index of 6.8 in the list is: 10

In [112]:
index = lst.index(element)
print("The index of", element, "in the list is:", index)

The index of 6.8 in the list is: 4

### 7: Write a Python program to concatenate two lists.

In [114]:
list1=[1,2,34,5,6.8,78]
list2=[10,20,30,40]
#method1
list1.extend(list2)
print(list1)

[1, 2, 34, 5, 6.8, 78, 10, 20, 30, 40]

In [115]:
#method2
concat=list1+list2
concat

[1, 2, 34, 5, 6.8, 78, 10, 20, 30, 40, 10, 20, 30, 40]

In [116]:
# method3
for i in list2:
    list1.append(i)
print(list1)

[1, 2, 34, 5, 6.8, 78, 10, 20, 30, 40, 10, 20, 30, 40]

### 8: Write a Python program to find the common elements between two lists.

In [117]:
lit1=[1,2,3,4,5]
lit2=[3,4,5,6,7]
common=list(set(lit1).intersection(lit2))
common

[3, 4, 5]

In [118]:
c=[]
for i in lit1:
    if i in lit2:
        c.append(i)
print(c)

[3, 4, 5]

### 9: Write a Python program to remove the duplicates from a list while preserving the order of elements.

In [119]:
def removeduplicates(n):
    non_duplicate_list=[]
    for i in n:
        if i not in non_duplicate_list:
            non_duplicate_list.append(i)
    return non_duplicate_list

In [120]:
lst = [1, 2, 34, 5, 6.8, 78, 2, 4, 6, 8, 6.8, 5]
print( removeduplicates(lst))

[1, 2, 34, 5, 6.8, 78, 4, 6, 8]

### 10: Write a Python program to sort a list  of strings in alphabetical order.

In [130]:

mylist=['Chandrayaan-3','Countdown','begins','for','India’s','third','Moon mission','all','you','need','to','know']
new_list=sorted(mylist)
print(new_list)

['Chandrayaan-3', 'Countdown', 'India’s', 'Moon mission', 'all', 'begins', 'for', 'know', 'need', 'third', 'to', 'you']

In [ ]:
# doubt in list Q10
#listQ3